
.wp{ width: 1200px;}
	#hd .wp, #wp{ min-width: 1200px;}
#mu{ border: 0;}
#mu ul{ background: {SPECIALBG}; border: 0;}
#mu li{ font-size: 14px;}
.widthauto #toptb #diy-tg_menu{ margin: -7px 0 0 -17px;}